body {
  font-family: Poppins, sans-serif;
  text-align: center;
  background-color: #3C3D37;
  margin: 0px;
  padding: 0px;
}
.header {
  background-color: #1E201E;
}
h1 {
  text-transform: uppercase;
  text-align: center;
  font-size: 4rem;;
  font-weight: 900;
  color: #ECDFCC;
  margin: 0px;
  padding: 10px;
}
.main {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 20px;
  box-sizing: border-box;
  height: 80vh;
}
.game-container {
  background-color: #cec2b1;
  border-radius: 10px;
  width: 73%;
  height: 100%;
}
.instructions {
  text-align: left;
  color: #ECDFCC;
  background-color: #697565;
  border-radius: 10px;
  width: 25%;
  height: 100%;
  overflow: auto;
}
.instructions h2 {
  font-size: 25px;
  font-weight: 700;
  text-transform: uppercase;
  margin: 30px 50px 0px 50px;
}
.instructions li, .instructions p {
  font-size: 15px;
  font-weight: 300;
  text-align: left;
  margin: 10px 50px auto 50px;
}
.instructions p {
  text-align: justify;
}
.state-title {
  font-family: 'Press Start 2P', cursive;
  text-transform: uppercase;
  font-size: 2.5rem;
  font-weight: bolder;
  color: white;
  -webkit-text-stroke: 1px #000000;
  visibility: hidden;
}

.container {
  background-color: rgb(27, 27, 27);
  padding: 20px;
  border-radius: 47%;
  display: block;
  width: 450px;
  margin: 20px auto 20px auto;
}
.game-over {
  background-color: red;
  opacity: 0.8;
}
.btn {
  margin: 10px;
  display: inline-block;
  height: 200px;
  width: 200px;
  border-radius: 10%;
}
.red {
  background-color: red;
  border-top-right-radius: 90%;
  box-shadow: inset 5px -5px 5px 0px rgba(255,255,255,0.63);
}
.green {
  background-color: green;
  border-top-left-radius: 90%;
  box-shadow: inset -5px -5px 5px 0px rgba(255,255,255,0.63);
}
.blue {
  background-color: blue;
  border-bottom-right-radius: 90%;
  box-shadow: inset 5px 5px 5px 0px rgba(255,255,255,0.63);
}
.yellow {
  background-color: yellow;
  border-bottom-left-radius: 90%;
  box-shadow: inset -5px 5px 5px 0px rgba(255,255,255,0.63);
}
.pressed {
  box-shadow: 0 0 20px white;
  background-color: grey;
}
.stats-container {
  display: flex;
  justify-content: space-around;
  width: 100%;
  column-gap: 30px;
  text-align: center;
}
.label {
  font-size: 2rem;
  font-weight: bold;
  width: 100%/3;
  margin-top: 0%;
}
.watch {
  font-family: 'Press Start 2P', cursive;
  text-transform: uppercase;
  font-size: 2.5rem;
  font-weight: bolder;
  color: red;
  -webkit-text-stroke: 1px #000000;
  visibility: visible;
}
.repeat {
  font-family: 'Press Start 2P', cursive;
  text-transform: uppercase;
  font-size: 2.5rem;
  font-weight: bolder;
  color: #00b400;
  -webkit-text-stroke: 1px #000000;
  visibility: visible;
}
.game-start {
  font-family: 'Press Start 2P', cursive;
  font-size: 25px;
  text-transform: uppercase;
  color: rgb(175, 48, 9);
  background-color: rgb(252, 225, 74);

  margin-top: 20px;
  padding: 10px;
  border-radius: 10px;
}

@media only screen and (max-width: 1024px) {
  .main {
    flex-direction: column;
    height: fit-content;
  }
  .game-container {
    width: 100%;
  }
  .instructions {
    width: 100%;
    margin-top: 20px;
  }
}
footer {
  padding: 10px;
  color: #ECDFCC;
  position: fixed;
  bottom: 0;
}